@import '../../../../scss/vendor';


.grid-row{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: $steel-white;
    min-height:55px;
    color:darken($input-color, 40%);
}

md-checkbox {
   margin: auto;
   color:$noc-color;
}

.input-on{
    border-color:darken($input-color, 80%);
}

.state-label{
   line-height:40px;
}

label.state-label{
  vertical-align:middle;
  margin-right:10px;
}

button.type-btn-trigger{
   color:$noc-color;
   background-color:$input-color;
}

.property-address,
.property-year-built,
.property-list-price,
.property-monthly-rent,
.property-gross-yield{
    margin:auto;
}

.property-type{
    input {
        text-align: left;
    }
}

.property-address,
.property-year-built,
.property-list-price,
.property-monthly-rent,
.property-gross-yield{
    input {
        text-align: left;
    }
}


.property-address-revealed{
  padding-top:15px;
  padding-bottom: 15px;
}


.property-input-address{
   width: 75% !important;
   color: $noc-color;
}

.property-input-container{
   font-size:15px;
   display: flex;
   flex-direction: row;
   width: 75%;
   align-items: center;
   padding-left:0.35em;
   padding-right:0.35em;
   color: $noc-color;
}

.property-placeholder-address-label{
   color :$noc-color;
}


.un-revealed .property-input-container{
    color:darken($input-color, 40%);
}


.property-year-built.do-reveal {
  margin-left:10%;
}

.do-reveal.property-placeholder-label{
     color :lighten($noc-color, 6%);
     visibility: visible;
}

.un-revealed label.gross-label{
     align-items: center;
     padding-top:15%;
}

.do-reveal {
     align-items: center;
     padding-top:20%;
}

.do-reveal label.gross-label{
     padding-bottom:5%;
}

.save-button{
  margin-top:auto;
  margin-bottom:20px;
  background-color:lighten($noc-color, 6%);
  color:$baby-powder;
}