<!-- ngrx smart-container-->
 <form novalidate fxLayout="row"
           class="grid-row"
           (ngSubmit)="onSubmit(updatedProperty)" [formGroup]="updatedProperty"  >
     <div fxLayout="column" fxFlex="5">
          <md-checkbox [checked]="isChecked"
                       [disabled]="rowUpdateState"
                       (change)="turnPublishingOn()"></md-checkbox>
     </div>
     <div   *ngIf="isReadOnly === true" class="property-address" fxLayout="column" fxFlex="45">
         {{property.addressCombined}}
     </div>
         <div   *ngIf="isReadOnly === false"
              class="property-address-revealed"
              fxLayout="column" fxFlex="40"    formGroupName="model">
          <div  fxLayout="row" fxFlex="100" class="live-edit">
              <md-form-field class="property-input-address">
                  <input  mdInput
                          type="text"
                          placeholder="Street Address"
                          formControlName="address1">
              </md-form-field>
              <control-messages [control]="updatedProperty.controls.model.controls.address1"></control-messages>
          </div>
          <div  fxLayout="row" fxFlex="100">
             <div fxLayout="column">
                  <md-form-field class="property-input-container">
                      <input  mdInput
                              type="text"
                              placeholder="City"

                              formControlName="city">
                  </md-form-field>
                  <control-messages [control]="updatedProperty.controls.model.controls.city"></control-messages>
              </div>

             <div fxLayout="column">
                  <md-form-field class="property-input-container">
                      <input  mdInput
                              type="text"
                              placeholder="District"
                              formControlName="district">
                  </md-form-field>
                  <control-messages [control]="updatedProperty.controls.model.controls.district"></control-messages>
              </div>
          </div>

          <div  fxLayout="row" fxFlex="100">
             <div fxLayout="column">
                  <md-form-field class="property-input-container">
                      <input  mdInput
                              type="text"
                              placeholder="County"
                              formControlName="county">
                  </md-form-field>
                  <control-messages [control]="updatedProperty.controls.model.controls.county"></control-messages>
              </div>

             <div fxLayout="column">
                  <md-form-field class="property-input-container">
                      <input  mdInput
                              type="text"
                              placeholder="Country"
                              formControlName="country">
                  </md-form-field>
                  <control-messages [control]="updatedProperty.controls.model.controls.country"></control-messages>
              </div>
          </div>


          <div  fxLayout="row" fxFlex="100">
             <div fxLayout="column" fxFlex="50">
                  <md-form-field class="property-input-container">
                      <input  mdInput
                              type="text"
                              placeholder="Zip Code"
                              formControlName="zip">
                  </md-form-field>
              <control-messages [control]="updatedProperty.controls.model.controls.zip"></control-messages>

             </div>
             <div fxLayout="column">
                     <div fxLayout="row">
                        <label class="state-label"> State</label>
                        <button md-button type="button"  [mdMenuTriggerFor]="typeState" class="type-btn-trigger">
                             {{ stateSelected}}
                        </button>
                        <md-menu #typeState="mdMenu">
                          <button md-menu-item
                                  type="button"
                                   *ngFor="let key of statesAbrKeys"
                                   (click)="stateMenuChange(key)">{{statesAbr[key]}}</button>
                        </md-menu>
                     </div>
             </div>
          </div>

     </div>
     <div fxLayout="column" fxFlex="55"   fxLayoutAlign="start center">
             <div fxLayout="row" fxFlex="100">
                     <div class="property-year-built" fxLayout="column" fxFlex="25" formGroupName="model" [className]="liveInput_Class">
                          <md-form-field class="property-input-container">
                              <input  mdInput
                                      type="text"
                                      [readonly]="isReadOnly"
                                      placeholder="Year Built"
                                      formControlName="yearBuilt">
                          </md-form-field>
                          <control-messages [control]="updatedProperty.controls.model.controls.yearBuilt"></control-messages>
                     </div>
                     <div class="property-list-price" fxLayout="column" fxFlex="30"  formGroupName="model" [className]="liveInput_Class">
                          <md-form-field class="property-input-container" >
                              <input  mdInput
                                      type="text"
                                      [readonly]="isReadOnly"
                                      placeholder="List Price"
                                      (focusout)="grossYieldCompute()"
                                      formControlName="listPrice">
                          </md-form-field>
                          <control-messages [control]="updatedProperty.controls.model.controls.listPrice"></control-messages>
                     </div>
                     <div class="property-monthly-rent" fxLayout="column" fxFlex="25"   formGroupName="model" [className]="liveInput_Class">
                          <md-form-field class="property-input-container">
                              <input  mdInput
                                      type="text"
                                      [readonly]="isReadOnly"
                                      (focusout)="grossYieldCompute()"
                                      placeholder="Monthly Rent"
                                      formControlName="monthlyRent">
                          </md-form-field>
                          <control-messages [control]="updatedProperty.controls.model.controls.monthlyRent"></control-messages>
                     </div>
                     <div class="property-gross-yield" fxLayout="column" fxFlex="20" [className]="liveInput_Class">
                         <label class="gross-label"> {{formattedGrossYield}}</label>
                     </div>
             </div>
             <div  *ngIf="!isReadOnly"   fxLayout="row" fxFlex="100" fxLayoutAlign="end bottom">
                <button md-button  type="submit"    class="save-button">
                        Save
                 </button>
             </div>
   </div>
 </form>
