<!-- ngrx smart-container-->
 <form  fxLayout="row"
           class="grid-row" #f="ngForm" (ngSubmit)="publishPropertyUpdate(f)" novalidate  >
     <div fxLayout="column" fxFlex="5">
          <md-checkbox [checked]="isChecked" [disabled]="rowUpdateState"
               (change)="turnPublishingOn(property.id)"></md-checkbox>
     </div>
     <div class="property-address" fxLayout="column" fxFlex="60">
         <input id="propertyAddress"  [className]="liveInput_Class"
                 [(ngModel)]="property.addressCombined" [readonly]="isReadOnly"  placeholder=""  name="propertyAddress">
     </div>
     <div class="property-year-built" fxLayout="column" fxFlex="10">
         <input id="propertyYearBuilt"  [className]="liveInput_Class"
                 [(ngModel)]="property.yearBuilt" [readonly]="isReadOnly"  placeholder=""  name="propertyYearBuilt">
     </div>
     <div class="property-list-price" fxLayout="column" fxFlex="15">
         <input id="propertyListPrice"  [className]="liveInput_Class"
          [(ngModel)]="formattedListPrice"
          [readonly]="isReadOnly"  placeholder="" name="propertyListPrice">
     </div>
     <div class="property-monthly-rent" fxLayout="column" fxFlex="15">
         <input id="propertyMonthlyRent"  [className]="liveInput_Class"
          [(ngModel)]="formattedMonthlyRent"
          [readonly]="isReadOnly"  placeholder="" name="propertyMonthlyRent">
     </div>
     <div class="property-gross-yield" fxLayout="column" fxFlex="10">
         <input id="propertyGrossYield"  [className]="liveInput_Class"
          [(ngModel)]="formattedGrossYield"
          [readonly]="isReadOnly"  placeholder="" name="propertyGrossYield">
     </div>
     <div *ngIf="!isReadOnly"  fxLayout="column" class="un-revealed" fxFlex="5">
                <button md-icon-button type="submit"    class="save-button">
                        <i class="material-icons save-icon" aria-label="save changes" >save</i>
                </button>
     </div>
 </form>
