@import '../../../../scss/vendor';


.grid-row{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: $steel-white;
    min-height:55px;

}

md-checkbox {
   margin: auto;
   color:$noc-color;
}

.input-on{
    border-color:$input-color;
}

.state-label{
   color:$noc-color;
   line-height:40px;
}

label.state-label{
  vertical-align:middle;
}

.property-address,
.property-year-built,
.property-list-price,
.property-monthly-rent,
.property-gross-yield{
    margin:auto;
}

.property-type{
    input {
        text-align: left;
    }
}

.property-address,
.property-year-built,
.property-list-price,
.property-monthly-rent,
.property-gross-yield{
    input {
        text-align: left;
    }
}

.property-input-city,
.property-input-address{
   font-size:15px;
   flex-direction: row;
   width: 75%;
   align-items: center;
   padding-left:0.35em;
   padding-right:0.35em;
   color: $noc-color;
}

.property-input-container{
   font-size:15px;
   display: flex;
   flex-direction: row;
   width: 75%;
   align-items: center;
   padding-left:0.35em;
   padding-right:0.35em;
   color: $noc-color;
}


.property-placeholder-address-label{
   color :$input-color;
}



.active-row{

}

.un-revealed .property-placeholder-label{
   visibility: hidden;
   color :$input-color;
}

.un-revealed .property-input-container{
   color :$input-color;
}

.un-revealed md-form-field.property-input-container{
      .mat-input-wrapper .mat-form-field-flex{
       background-color:pink !important;
     }
}

.do-reveal {
     align-items: center;
     padding-top:10%;
     padding-bottom:10%;
}

.do-reveal.property-placeholder-label{
     color :lighten($noc-color, 6%);
     visibility: visible;
  }



.save-button{
  background-color:transparent;
  border:none;
  padding-top:15px;
  color:$noc-color;
  width:20px;
}