@import '../../../../scss/vendor';

.grid-toolbar-row{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: $steel-white;
    min-height:55px;
}


.arrw-hidden{
   display:none;
}

.garment-toolbar-address,
.garment-toolbar-year-built,
.garment-toolbar-list-price,
.garment-toolbar-monthly-rent,
.garment-toolbar-gross-yield{
    margin:auto;
}
