<!-- Created by willstreeter on 9/10/17. -->

<div fxLayout="row" class="grid-toolbar-row">
     <div class="property-toolbar-address" fxLayout="column" fxFlex="45">
        <span>
          Address
        </span>
     </div>
     <div class="property-toolbar-year-built" fxLayout="column" fxFlex="10">
        <span>
          Year Built
        </span>
     </div>
     <div class="property-toolbar-list-price" fxLayout="column" fxFlex="10">
        <span>
          List Price
        </span>
     </div>
     <div class="property-toolbar-monthly-rent" fxLayout="column" fxFlex="10">
        <span>
          Monthly Rent
        </span>
     </div>
     <div class="property-toolbar-gross-yield" fxLayout="column" fxFlex="10">
        <span>
          Gross Yield
        </span>
     </div>
</div>